rest-and-soap-api-demo/src/main/resources/wsdl/fruit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.freefarm.se/fruit/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="fruit" 
	targetNamespace="http://www.freefarm.se/fruit/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.freefarm.se/fruit/">
      <xsd:complexType name="PriceInformationDTO">
        <xsd:sequence>
            <xsd:element name="Fruit" type="xsd:string"/>
            <xsd:element name="Currency" type="xsd:string"/>
             <!-- <xsd:element name="Date" type="xsd:string"/> -->
            <xsd:element name="Price" type="xsd:double"/>
            <xsd:element name="Units" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PriceDetailsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fruit" type="xsd:string"/>
                <xsd:element name="units" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceDetailsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PriceInformation" type="tns:PriceInformationDTO"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PriceInformationRequest">
    <wsdl:part element="tns:PriceDetailsRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PriceInformationResponse">
    <wsdl:part element="tns:PriceDetailsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="fruit">
    <wsdl:operation name="PriceInformation">
      <wsdl:input message="tns:PriceInformationRequest"/>
      <wsdl:output message="tns:PriceInformationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fruitSOAP" type="tns:fruit">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PriceInformation">
      <soap:operation soapAction="http://www.freefarm.se/fruit/PriceInformation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fruit">
    <wsdl:port binding="tns:fruitSOAP" name="fruitSOAP">
      <soap:address location="http://localhost:8118/priceinfosoap/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

